@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Roboto', sans-serif;
}


/* ==================== nav started ======================= */

nav {
    background: #313131;
    padding-top: 12px;
}

.list {
    display: flex;
    gap: 30px;
}

.list_item {
    font-weight: 400;
    font-size: 14px;
    color: #ffffff;
}

.box {
    display: flex;
    gap: 30px;
    color: white;
}

.phone_number a {
    font-weight: 400;
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
}

.dos a {
    font-weight: 400;
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
}

.fa-solid {
    margin-right: 10px;
}

/* ========================= header started =========================*/

header {
    padding-top: 20px;
}

.inp {
    border: 1px solid #e6e6e6;
    outline: none;
    padding: 14px 480px 14px 50px;
    color: grey;
}

.fa-heart {
    font-size: 20px;
}

.fa-bag-shopping {
    font-size: 20px;
}

.fa-user {
    font-size: 20px;
}


/* ========================= header started =========================*/
.col-9 {
    width: 1120px;
    margin: auto;
    display: flex;
    margin-top: 20px;
    justify-content: center;
    box-sizing: border-box;
    justify-content: space-around;


}

.Акция {
    color: #0c12d1;
}


/* ========================= header started =========================*/

/* .ota_div12{
   justify-content: center;
   margin-top: 30px;
   gap: 30;
} */




.carousel-item {
    width: 100%;

}

.circle {
    position: absolute;
    padding-left: 150px;
}

.circle h2 {
    margin-top: 100px;
    font-weight: 700;
    font-size: 50px;
    line-height: 105.3%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #3C3C3C;
}

.circle p {
    font-weight: 400;
    font-size: 16px;
    line-height: 140.8%;
    letter-spacing: 0.02em;
    color: #343434
}

.circle button {
    font-weight: 700;
    font-size: 12px;
    line-height: 140.8%;
    letter-spacing: 0.04em;
    color: #414141;
    padding: 15px 40px;
    border: none;
}



.ota_div12 {
    margin-top: 100px;
}

.take {
    margin-top: 50px;
}

.text:hover {
    color: red;
}


.fa-heart {
    padding-left: 200px;
}

.section {
    margin-top: 60px;
}

.col-2 font-awesome {
    font-family: 'Roboto';
   
    color: #000000;
}



.row ---- {
    margin-top: 19px;
}
.aksiya{
    color: #D74444;
}
.area{
    display: flex;
    align-items: center;
}
.watch{
    padding-top: 20px;
    padding-left: 15px;
}
.fa-instagram{
    margin-left: 20px;
}

.navigator{
    margin-top: 50px;
    margin-bottom: 50px;
}


.fa-envelope{
    margin-left: 20px;
}